.quiz-title {
    margin-bottom: 20px;
}

.quiz-author {
    margin-bottom: 20px;
}

#submit-btn {
    margin-top: 5px;
    text-align: center;
    padding: 25px;

}

.submitbtn {
    text-align: center;
}

.Jumbotron {
    margin-top: 20px;
}

