.App-logo {
    height: 5rem;
    width: 5rem;
    position: relative;
    bottom: 10px;
}
.App-header {
    background-color: #42adef;
    margin-top: -2rem;
}
.App-title {
    display: inline-block;
    margin-top: 20px;
}