.App-logo {
    height: 4rem;
    width: 4rem;
    align-content: top;
}
.App-header {
    background-color: #F6F819;
    height: 5rem;
    width: 5rem;
    position: relative;
    bottom: 10px;
}
.App-title {
    display: inline-block;
    justify-content: center;
    margin-top: 20px;
    align-content: right;
    margin-right: -1rem;
}